<div class="card bg-primary text-primary-content p-10">
  <h1>Word of the day</h1>
  
  <div class="text-xl font-bold">
    {{ word }}
  </div>
  <!-- 
  <button class="border-lime-800 rounded-md p-2 md:p-4 border-2 transition-all" (click)="newWord()">
    Give Me A New Word
  </button>
  -->
  
  <label>
    
    <input placeholder="Type the given word" class="input input-accent text-neutral-content" type="text" [(ngModel)]="typing" (keyup)="checkWord($event)" />
  </label>
  
  errors: {{ errors }}
</div>